.diceButton {
  display: flex;
  width: 100px;
  height: 25px;
  justify-content: center;
}
.dice-container {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-area: 2 / 1 / 3 / 2;
}

