#gameboard {
    font-family: 'PixelFont';
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 900px;
    height: 900px;
    background-image: url('G:\Coding\pokerdice\src\assets\images\board\backgroundwithgrid.png');
    background-size: contain;
    
}
