.tile{
  max-height: 100%;
  max-width: 100%;
}
.tileTwp{
  position:relative;
  max-height: 100%;
  max-width: 100%;
}
.tileContainer {
  min-width: 0;
  min-height: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: relative;
}
.tileContainer > img {
  position: absolute;
}

.tileContainerSel{
  pointer-events: auto;
  min-width: 0;
  min-height: 0;
  transition: all 1s ease-in-out ;
  background-color: rgba(190, 252, 188, 0.616);
  height: 100%;
  width: 100%;
}


.tileContainerRed {
  pointer-events: none;
  min-width: 0;
  min-height: 0;
  transition: all 1s ease-in-out ;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tileContainerBlue {
  pointer-events: none;
  min-width: 0;
  min-height: 0;
  transition: all 1s ease-in-out ;
  background-color: rgba(73, 91, 250, 0.349);
  height: 100%;
  width: 100%;
}
